[submodule "dependencies/rocm_smi_lib"]
	path = dependencies/rocm_smi_lib
	url = git@github.com:RadeonOpenCompute/rocm_smi_lib.git
[submodule "dependencies/AGS"]
	path = dependencies/AGS
	url = git@github.com:GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "dependencies/pybind"]
	path = dependencies/pybind
	url = git@github.com:pybind/pybind11.git
